---
import { getPageSection, getSiteSettings } from "../lib/supabase";

const [hero, info, settings] = await Promise.all([
	getPageSection("contacts", "hero"),
	getPageSection("contacts", "info"),
	getSiteSettings()
]);

const heroSubtitle = (hero?.subtitle as string | null) || "Contact Us";
const heroTitle = (hero?.title as string | null) || "Contact Us Easily Online, by Phone or by Dropping In";
const heroButtonText = settings.book_appointment_text || "Refer a Client";
const heroButtonUrl = settings.contacts_url || "/contacts";

const phone = settings.phone || "+90 252 622 0433";
const infoTitle = (info?.title as string | null) || "Contact Information";
const infoDescription =
	(info?.description as string | null) ||
	"Learn more about our clinic and doctors and why they are trusted by so many families in our community.";

const addressLabel = settings.address_label || "Address:";
const addressHtml =
	(settings.address as string | null) ||
	"Foça Mahallesi, 1030 Sokak No:142<br>48300 Fethiye/Muğla";

const workHoursLabel = settings.work_hours_label || "Open:";
const workHoursText =
	settings.work_hours_weekday && settings.work_hours_saturday && settings.work_hours_sunday
		? `${settings.work_hours_weekday}<br>${settings.work_hours_saturday}<br>${settings.work_hours_sunday}`
		: "Her Gün<br>10:00 – 23:45";
---
		<div class="elementor-element elementor-element-1e9d3be e-con-full e-flex cmsmasters-block-default e-con e-parent e-lazyloaded" data-id="1e9d3be" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-9513723 e-flex e-con-boxed cmsmasters-bg-hide-none cmsmasters-bg-hide-none cmsmasters-block-default e-con e-child" data-id="9513723" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-f4b675b e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="f4b675b" data-element_type="container">
				<div class="elementor-element elementor-element-b6ef9cd cmsmasters-color-variation-gradient cmsmasters-line-clamp-no cmsmasters-color-gradient-linear cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title animated fadeIn" data-id="b6ef9cd" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="cmsmasters-title.default">
				<div class="elementor-widget-container">
					<h6 class="cmsmasters-widget-title__heading "><span class="title-inner-element">{heroSubtitle}</span></h6>				</div>
				</div>
				<div class="elementor-element elementor-element-0074a0e elementor-widget__width-inherit cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading animated fadeIn" data-id="0074a0e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:250}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">{heroTitle}</h1>				</div>
				</div>
		<div class="elementor-element elementor-element-6a054ca e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="6a054ca" data-element_type="container">
				<div class="elementor-element elementor-element-5f789e1 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button animated fadeInUp" data-id="5f789e1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:500}" data-widget_type="cmsmasters-button.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-button__button-container"><div class="elementor-widget-cmsmasters-button__button-container-inner"><a href={heroButtonUrl} class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0"><span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-"><span class="elementor-widget-cmsmasters-button__text">{heroButtonText}</span></span></a></div></div>				</div>
				</div>
				<div data-animation-type="block" class="animation_type_block elementor-element elementor-element-5eecca2 cmsmasters-featured-box__graphic-align-left cmsmasters-featured-box__link-box cmsmasters-featured-box__text-valign-middle animation_type_block cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-featured-box animated fadeInRight" data-animation-stagger="" data-separate-animation-selector=".elementor-widget-cmsmasters-featured-box__icon-wrap, .elementor-widget-cmsmasters-featured-box__image-wrap, .elementor-widget-cmsmasters-featured-box__title, .elementor-widget-cmsmasters-featured-box__description, .elementor-widget-cmsmasters-featured-box__button-wrapper" data-text-animation-class="sequental, random" data-id="5eecca2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_delay&quot;:750}" data-widget_type="cmsmasters-featured-box.default">
				<div class="elementor-widget-container">
					<a href={`tel:${phone}`} class="elementor-widget-cmsmasters-featured-box__wrapper"><div class="elementor-widget-cmsmasters-featured-box__content">
				<div class="elementor-widget-cmsmasters-featured-box__content-vertical-inner"><div class="elementor-widget-cmsmasters-featured-box__type-wrap elementor-widget-cmsmasters-featured-box__content-item"><div class="elementor-widget-cmsmasters-featured-box__title elementor-widget-cmsmasters-featured-box__content-item">Bizi Arayın:</div><div class="elementor-widget-cmsmasters-featured-box__description elementor-widget-cmsmasters-featured-box__content-item">+90 252 622 0433</div></div>
				</div>
			</div>
		</a>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-7c482df e-flex e-con-boxed cmsmasters-block-default e-con e-parent" data-id="7c482df" data-element_type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-e3ab44d e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="e3ab44d" data-element_type="container">
				<div class="elementor-element elementor-element-ce6774a elementor-widget__width-initial cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="ce6774a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default" style="visibility: visible; opacity: 1;">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">{infoTitle}</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-7dbf9ca cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="7dbf9ca" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:250}" data-widget_type="heading.default" style="visibility: visible; opacity: 1;">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">{infoDescription}</p>				</div>
				</div>
		<div class="elementor-element elementor-element-b838961 e-flex e-con-boxed cmsmasters-block-default e-con e-child" data-id="b838961" data-element_type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-282471d e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="282471d" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:500}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-56482c3 cmsmasters-color-variation-gradient cmsmasters-line-clamp-no cmsmasters-color-gradient-linear cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title" data-id="56482c3" data-element_type="widget" data-widget_type="cmsmasters-title.default">
				<div class="elementor-widget-container">
					<h6 class="cmsmasters-widget-title__heading "><span class="title-inner-element">{addressLabel}</span></h6>				</div>
				</div>
				<div class="elementor-element elementor-element-036966d cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-text-editor" data-id="036966d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div set:html={addressHtml}></div>								</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-29770cd e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="29770cd" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;animation_delay&quot;:750}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-30d208b cmsmasters-color-variation-gradient cmsmasters-line-clamp-no cmsmasters-color-gradient-linear cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title" data-id="30d208b" data-element_type="widget" data-widget_type="cmsmasters-title.default">
				<div class="elementor-widget-container">
					<h6 class="cmsmasters-widget-title__heading "><span class="title-inner-element">{workHoursLabel}</span></h6>				</div>
				</div>
				<div class="elementor-element elementor-element-c2d73c5 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-text-editor" data-id="c2d73c5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p set:html={workHoursText}></p>								</div>
				</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-a82dc15 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="a82dc15" data-element_type="container" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;,&quot;animation_delay&quot;:1000}" style="visibility: visible; opacity: 1;">
				<div class="elementor-element elementor-element-c34e8f1 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-image" data-id="c34e8f1" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="1024" height="608" src="/assets/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-1024x608.webp" class="attachment-large size-large wp-image-43674" alt="" srcset="https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-1024x608.webp 1024w, https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-300x178.webp 300w, https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-768x456.webp 768w, https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-505x300.webp 505w, https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw-600x356.webp 600w, https://wellness-bliss.cmsmasters.studio/light/wp-content/uploads/sites/4/2025/04/google-map-placeholder-bw.webp 1280w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
				</div>
					</div>
				</div>
