---
// Footer Component
// Shared across all pages
import { getSiteSettings, type NavItem } from '../lib/supabase';
import Popup from './Popup.astro';

const settings = await getSiteSettings();

// Footer navigation from DB
let footerNav: NavItem[] = [];
try {
    const navJson = settings.footer_navigation;
    if (navJson) footerNav = JSON.parse(navJson);
} catch (e) {
    console.error('Error parsing footer_navigation:', e);
}
const visibleFooterNav = footerNav.filter((item: NavItem) => item.visible !== false);
const email = settings.email || 'info@sultanhamamfethiye.com';
const phone = settings.phone || '+90 252 622 0433';
const phoneHref = phone.replace(/\s/g, '');
const address = settings.address || 'Foça Mahallesi, 1030 Sokak No:142, 48300 Fethiye/Muğla';
const footerDiscountText = settings.footer_discount_text || 'Get a special 50% new client discount and unleash your health.';
const footerNewsletterTitle = settings.footer_newsletter_title || 'Sign up to Newsletter';
const footerNewsletterButton = settings.footer_newsletter_button || 'Sign Up';
const logoUrl = settings.logo_url || '/assets/light/wp-content/uploads/sites/4/2025/05/logo-2.svg';
const logoAlt = settings.logo_alt || 'Light Demo';
const logoTitle = settings.logo_title || 'Light Demo';
const siteUrl = settings.site_url || 'https://wellness-bliss.cmsmasters.studio/light';
const workHoursWeekday = settings.work_hours_weekday || 'Her Gün: 10:00 - 23:45';
const workHoursSaturday = settings.work_hours_saturday || '';
const workHoursSunday = settings.work_hours_sunday || '';
const copyrightText = settings.copyright_text || '© 2026 - All Rights Reserved';
const sampleSiteText = settings.sample_site_text || 'This is a sample website';
const facebook = settings.facebook || 'https://facebook.com/sultanhamamfethiye';
const instagram = settings.instagram || 'https://instagram.com/sultanahammam';
const twitter = settings.twitter || '';
const contactsUrl = settings.contacts_url || '/contacts';
const addressLabel = settings.address_label || 'Address';
const workHoursLabel = settings.work_hours_label || 'Work Hours';
const contactsLabel = settings.contacts_label || 'Contacts';
const viewDirectionsText = settings.view_directions_text || 'View Directions';
const viewDirectionsUrl = settings.view_directions_url || '/contacts';

// Render footer navigation HTML
const footerNavHtml = visibleFooterNav.map((item: NavItem) => {
    const linkHref = item.url && item.url !== '#' ? ` href="${item.url}"` : '';
    return `<li class="menu-item menu-item-type-custom menu-item-object-custom"><a${linkHref} class="elementor-widget-cmsmasters-nav-menu__dropdown-item elementor-widget-cmsmasters-nav-menu__item-link-top" aria-label="Menu item"><span class="elementor-widget-cmsmasters-nav-menu__item-text-wrap"><span class="elementor-widget-cmsmasters-nav-menu__item-text">${item.title}</span></span><span class="cmsmasters-animation"></span></a></li>`;
}).join('');
---
<footer data-elementor-type="cmsmasters_footer" data-elementor-id="189" class="elementor elementor-189 cmsmasters-location-cmsmasters_footer cmsmasters-header-position-absolute-yes" data-cms-icon="&lt;i aria-hidden=&quot;true&quot; aria-label=&quot;Popup Close&quot; class=&quot;cmsmsdemo-icons- cmsms-demo-icons-cancel&quot;&gt;&lt;/i&gt;">			<div class="elementor-inner">
				<div class="elementor-section-wrap">
					<section class="elementor-element elementor-element-750a553b e-flex e-con-boxed cmsmasters-bg-hide-none cmsmasters-block-default e-con e-parent e-lazyloaded" data-id="750a553b" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-73e1c606 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="73e1c606" data-element_type="container">
				<div class="elementor-element elementor-element-571975d7 elementor-widget__width-initial cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="571975d7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">{footerDiscountText}</h2>				</div>
				</div>
		<div class="elementor-element elementor-element-b861a24 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="b861a24" data-element_type="container">
				<div class="elementor-element elementor-element-68e6b86e cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="68e6b86e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h6 class="elementor-heading-title elementor-size-default">{footerNewsletterTitle}</h6>				</div>
				</div>
				<div class="elementor-element elementor-element-6a70fa6a cmsmasters-mailchimp__inline-button-yes cmsmasters-mailchimp__button-border-solid cmsmasters-mailchimp__button-align-mobile-stretch cmsmasters-mailchimp__button-position-right cmsmasters-mailchimp__button-position-tablet-right cmsmasters-mailchimp__button-position-mobile-bottom cmsmasters-mailchimp__terms-use-align-start cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-mailchimp" data-id="6a70fa6a" data-element_type="widget" data-settings={`{"button_text":"${footerNewsletterButton}","action_form":"subscribe"}`} data-widget_type="cmsmasters-mailchimp.default" data-document-id="189">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-mailchimp__wrapper"><form class="elementor-widget-cmsmasters-mailchimp__form" method="POST"><div class="elementor-widget-cmsmasters-mailchimp__fields-wrapper"><div class="elementor-widget-cmsmasters-mailchimp__field-group elementor-widget-cmsmasters-mailchimp__field-group-email"><label for="email-69812e6084e1b" class="elementor-widget-cmsmasters-mailchimp__field-label screen-reader-text">Email*</label><div class="elementor-widget-cmsmasters-mailchimp__button-inline-wrapper"><div class="elementor-widget-cmsmasters-mailchimp__field-outer elementor-widget-cmsmasters-mailchimp__field-gap"><input size="1" id="email-69812e6084e1b" class="elementor-widget-cmsmasters-mailchimp__field" name="email" placeholder="Email*" type="email" required="required"></div><div class="elementor-widget-cmsmasters-mailchimp__field-group elementor-widget-cmsmasters-mailchimp__field-type-submit"><button class="elementor-widget-cmsmasters-mailchimp__button" name="submit" type="submit"><span class="elementor-widget-cmsmasters-mailchimp__button-content"><span class="elementor-widget-cmsmasters-mailchimp__button-text">Sign Up</span></span><span class="elementor-widget-cmsmasters-mailchimp__button-preloader" style="display: none; visibility: hidden; opacity: 0;"><svg aria-hidden="true" class="e-font-icon-svg e-fas-spinner" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path></svg></span></button>
		</div><div class="elementor-widget-cmsmasters-mailchimp__terms-use-position"></div></div></div></div><input type="hidden" name="action-form" value="subscribe"></form><p class="elementor-widget-cmsmasters-mailchimp__valid-message elementor-widget-cmsmasters-mailchimp__field-group">Thank you for subscribing to the newsletter.</p><p class="elementor-widget-cmsmasters-mailchimp__error-message elementor-widget-cmsmasters-mailchimp__field-group">Oops. Something went wrong. Please try again later.</p></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-40e25a8e e-flex e-con-boxed cmsmasters-block-default e-con e-child" data-id="40e25a8e" data-element_type="container">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-6ec99823 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="6ec99823" data-element_type="container">
				<div class="elementor-element elementor-element-65fc005c cmsmasters-logo-type-image cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-site-logo" data-id="65fc005c" data-element_type="widget" data-widget_type="cmsmasters-site-logo.default">
				<div class="elementor-widget-container">
					<div class="elementor-widget-cmsmasters-site-logo__container"><div class="elementor-widget-cmsmasters-site-logo__image-container"><a href={siteUrl} class="elementor-widget-cmsmasters-site-logo__link" rel="nofollow"><img src={logoUrl} alt={logoAlt} title={logoTitle} class="elementor-widget-cmsmasters-site-logo__img elementor-widget-cmsmasters-site-logo-main"></a></div></div>				</div>
				</div>
				</div>
		<section class="elementor-element elementor-element-492aebdc e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="492aebdc" data-element_type="container">
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-5a8a1ac1 cmsmasters-widget-layout-column cmsmasters-widget-mobile-align-column-center cmsmasters-widget-tablet-align-column-center cmsmasters-widget-align-column-left cmsmasters-widget-direction-default cmsmasters-value-position-bottom cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="5a8a1ac1" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
					<h3 class="cmsmasters-widget-icon-list-title">{addressLabel}</h3>		<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-cbcbbd3">
						<span class="cmsmasters-widget-icon-list-item-text">
							{address}						</span>
											</span>
				</span>
								</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-78f2d94">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
													</span>
											</span>
				</span>
				<span class="cmsmasters-widget-icon-list-item-value active-link-item cmsmasters-widget-icon-list-item-value"><a href={viewDirectionsUrl}>{viewDirectionsText}</a></span>				</li>
					</ul>
						</div>
				</div>
				</section>
		<section class="elementor-element elementor-element-60c24f0e e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="60c24f0e" data-element_type="container">
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-1450360a cmsmasters-widget-layout-column cmsmasters-widget-mobile-align-column-center cmsmasters-widget-tablet-align-column-center cmsmasters-widget-align-column-left cmsmasters-widget-direction-default cmsmasters-value-position-bottom cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="1450360a" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
					<h3 class="cmsmasters-widget-icon-list-title">{workHoursLabel}</h3>		<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-cbcbbd3">
						<span class="cmsmasters-widget-icon-list-item-text">
							{workHoursWeekday}						</span>
											</span>
				</span>
								</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-78f2d94">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							{workHoursSaturday}						</span>
											</span>
				</span>
								</li>
							<li class="cmsmasters-widget-icon-list-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-2a9b29a">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							{workHoursSunday}						</span>
											</span>
				</span>
								</li>
					</ul>
						</div>
				</div>
				</section>
		<section class="elementor-element elementor-element-77765803 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="77765803" data-element_type="container">
				<div data-separate-animation-selector=".cmsmasters-widget-icon-list-item" data-text-animation-class="sequental, random, line, word, char" class="elementor-element elementor-element-2668a8b2 cmsmasters-widget-layout-column cmsmasters-widget-tablet-align-column-center cmsmasters-widget-mobile-align-column-center cmsmasters-widget-align-column-left cmsmasters-widget-direction-default cmsmasters-value-position-bottom cmsmasters-widget-marker-element-icon cmsmasters-widget-marker-view-default cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-icon-list cmsmasters-widget-icon-list" data-id="2668a8b2" data-element_type="widget" data-widget_type="cmsmasters-icon-list.default">
				<div class="elementor-widget-container">
					<h3 class="cmsmasters-widget-icon-list-title">{contactsLabel}</h3>		<ul class="cmsmasters-widget-icon-list-items">
							<li class="cmsmasters-widget-icon-list-item active-icon-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
											<span class="cmsmasters-widget-icon-list-item-icon">
							<span>
																	<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-phone"></i>															</span>
						</span>
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-9b9a38f active-link-item">
						<span class="cmsmasters-widget-icon-list-item-text">
							<a href={`tel:${phoneHref}`}>{phone}</a>						</span>
											</span>
				</span>
								</li>
							<li class="cmsmasters-widget-icon-list-item active-icon-item">
								<span class="cmsmasters-widget-icon-list-item-text-wrap">
											<span class="cmsmasters-widget-icon-list-item-icon">
							<span>
																	<i aria-hidden="true" class="cmsmsdemo-icons- cmsms-demo-icons-letter"></i>															</span>
						</span>
										<span class="cmsmasters-widget-icon-list-item-text-inner elementor-repeater-item-d51248a active-link-item">
						<span class="cmsmasters-widget-icon-list-item-text cmsmasters-widget-icon-list-item-text">
							<a href={`mailto:${email}`}>{email}</a>						</span>
											</span>
				</span>
								</li>
					</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-4d4bb734 elementor-shape-circle e-grid-align-tablet-center elementor-grid-0 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-social-icons" data-id="4d4bb734" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-72adf3b" href={facebook} target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<svg aria-hidden="true" class="e-font-icon-svg e-fab-facebook-f" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-75928fb" href={instagram} target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<svg aria-hidden="true" class="e-font-icon-svg e-fab-instagram" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-repeater-item-07041e0" href={twitter} target="_blank">
						<span class="elementor-screen-only">X-twitter</span>
						<svg aria-hidden="true" class="e-font-icon-svg e-fab-x-twitter" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>					</a>
				</span>
					</div>
						</div>
				</div>
				</section>
					</div>
				</div>
		<div class="elementor-element elementor-element-8e50521 e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="8e50521" data-element_type="container">
				<div class="elementor-element elementor-element-6a9e462 cmsmasters-menu-alignment-flex-start cmsmasters-menu-alignment-tablet-center cmsmasters-dropdown-breakpoints-none cmsmasters-toggle-view-stacked cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-nav-menu" data-id="6a9e462" data-element_type="widget" data-settings="{&quot;dropdown_breakpoints&quot;:&quot;none&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;dropdown_horizontal_distance&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="cmsmasters-nav-menu.default">
				<div class="elementor-widget-container">
					<nav class="elementor-widget-cmsmasters-nav-menu__main elementor-widget-cmsmasters-nav-menu__container cmsmasters-layout-horizontal" aria-label="Menu"><ul id="menu-1-6a9e462" class="elementor-widget-cmsmasters-nav-menu__container-inner" set:html={footerNavHtml}></ul></nav><div class="elementor-widget-cmsmasters-nav-menu__toggle-container cmsmasters-layout-horizontal cmsmasters-menu-dropdown-type-"><div class="elementor-widget-cmsmasters-nav-menu__toggle cmsmasters-icon-align-" role="button" tabindex="0"><span class="cmsmasters-toggle-icon"><svg aria-hidden="true" aria-label="Menu Toggle" class="e-font-icon-svg e-fas-bars" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></span><span class="cmsmasters-toggle-icon-active"><svg aria-hidden="true" aria-label="Menu Active Toggle" class="e-font-icon-svg e-fas-times" viewBox="0 0 352 512" xmlns="http://www.w3.org/2000/svg"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></span></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-bb6148f e-con-full e-flex cmsmasters-block-default e-con e-child" data-id="bb6148f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-5a3fc261 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="5a3fc261" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">{sampleSiteText}</p>				</div>
				</div>
				<div class="elementor-element elementor-element-4ea8e8e0 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="4ea8e8e0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">-</p>				</div>
				</div>
				<div class="elementor-element elementor-element-5d18389f cmsmasters-line-clamp-no cmsmasters-color-variation-default cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title" data-id="5d18389f" data-element_type="widget" data-widget_type="cmsmasters-title.default">
				<div class="elementor-widget-container">
					<p class="cmsmasters-widget-title__heading"><a href="/assets/external_aHR0cHM6Ly9jbXNtYXN0ZXJzLnN0dWRp.html" class="">cmsmasters</a></p>				</div>
				</div>
				<div class="elementor-element elementor-element-6fbb371f elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="6fbb371f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">{copyrightText}</p>				</div>
				</div>
				</div>
					</div>
				</section>
						</div>
			</div>
		</footer>
<Popup />