---
import { getPageSections } from '../lib/supabase';

// Global popup verilerini çek
const popupData = await getPageSections('_global');
const popup = popupData.find((s: any) => s.section_key === 'popup');

const title = popup?.title || 'Discover Deep Relaxation at Our Massage Sanctuary';
const subtitle = popup?.subtitle || 'SPECIAL OFFER!';
const description = popup?.description || 'Take 20% off your first massage session when you book within the next 24 hours.';
const buttonText = popup?.button_text || 'Book Now';
const buttonUrl = popup?.button_url || '/contacts';
---

<script is:inline src="/assets/light/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js"></script>
<script is:inline src="/assets/light/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js"></script>
<link rel="stylesheet" href="/assets/light/wp-content/uploads/sites/4/elementor/css/custom-lightbox.min.css">

<div class="widget_shopping_cart_live_region screen-reader-text" role="status"></div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all notranslate"></div>

<svg style="display: none;" class="e-font-icon-svg-symbols">
  <symbol id="eicon-close" viewBox="0 0 1000 1000">
    <path d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z"></path>
  </symbol>
</svg>

<script is:inline type="text/javascript" src="/assets/light/wp-content/plugins/forminator/assets/js/library/intlTelInput.min.js" async defer></script>

<div class="cmsmasters-elementor-popup cmsmasters-elementor-popup-150 cmsmasters-popup-trigger-1 cmsmasters-elementor-popup__close-popup-inner" data-popup-id="150" data-trigger-popup-id="1">
  <div data-elementor-type="cmsmasters_popup" data-elementor-id="150" class="elementor elementor-150 cmsmasters-header-position-absolute-yes" data-elementor-settings="{&quot;cms_close_button_icon&quot;:{&quot;value&quot;:&quot;cmsmsdemo-icons- cmsms-demo-icons-cancel&quot;,&quot;library&quot;:&quot;Local-Icons&quot;}}" data-cms-icon="&lt;i aria-hidden=&quot;true&quot; aria-label=&quot;Popup Close&quot; class=&quot;cmsmsdemo-icons- cmsms-demo-icons-cancel&quot;&gt;&lt;/i&gt;">
    <div class="elementor-inner">
      <div class="elementor-section-wrap ps">
        <div class="elementor-element elementor-element-15ad2a8 e-con-full e-flex cmsmasters-block-default e-con e-parent e-lazyloaded" data-id="15ad2a8" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-efc9754 e-con-full elementor-hidden-tablet elementor-hidden-mobile e-flex cmsmasters-bg-hide-none cmsmasters-bg-hide-none cmsmasters-block-default e-con e-child" data-id="efc9754" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          </div>
          <section class="elementor-element elementor-element-7449019a e-flex e-con-boxed cmsmasters-block-default e-con e-child" data-id="7449019a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="e-con-inner">
              <div class="elementor-element elementor-element-17a8030a cmsmasters-color-variation-gradient cmsmasters-line-clamp-no cmsmasters-color-gradient-linear cmsmasters-pointer-none cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-title cmsmasters-widget-title" data-id="17a8030a" data-element_type="widget" data-widget_type="cmsmasters-title.default">
                <div class="elementor-widget-container">
                  <h2 class="cmsmasters-widget-title__heading"><span class="title-inner-element">{subtitle}</span></h2>
                </div>
              </div>
              <div class="elementor-element elementor-element-23f1884c cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading" data-id="23f1884c" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">{title}</h2>
                </div>
              </div>
              <div class="elementor-element elementor-element-2c8eb91f cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-heading animated fadeIn" data-id="2c8eb91f" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">{description}</h3>
                </div>
              </div>
              <div class="elementor-element elementor-element-28f7b422 cmsmasters-block-default cmsmasters-sticky-default elementor-widget elementor-widget-cmsmasters-button" data-id="28f7b422" data-element_type="widget" data-widget_type="cmsmasters-button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-widget-cmsmasters-button__button-container">
                    <div class="elementor-widget-cmsmasters-button__button-container-inner">
                      <a href={buttonUrl} class="cmsmasters-button-link elementor-widget-cmsmasters-button__button cmsmasters-icon-view- cmsmasters-icon-shape- cmsmasters-button-size-sm" role="button" tabindex="0">
                        <span class="elementor-widget-cmsmasters-button__content-wrapper cmsmasters-align-icon-">
                          <span class="elementor-widget-cmsmasters-button__text">{buttonText}</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <span class="cmsmasters-popup-close" role="button" tabindex="0">
          <i aria-hidden="true" aria-label="Popup Close" class="cmsmsdemo-icons- cmsms-demo-icons-cancel"></i>
        </span>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
      </div>
    </div>
    <span class="cmsmasters-popup-close" role="button" tabindex="0">
      <i aria-hidden="true" aria-label="Popup Close" class="cmsmsdemo-icons- cmsms-demo-icons-cancel"></i>
    </span>
  </div>
</div>
